{% extends "layout.html" %}
{% block content %}
    <section class="home">
        <div class="content">
            <h1 class="title">Système d'enregistrement et de gestion de frais et bordereaux de paiements</h1>
            <p class="text">La gestion et l’enregistrement des vos frais et bordereaux de paiements en un clic.</p>
            <button class="btn b-center btn-outline-secondary" onclick="window.location.href='{{ url_for('studentLogin') }}';">
            c’est parti
            </button>
        </div>
    </section>
  
{% endblock content %}



